<button class="fixed-button" md-fab (click)="update()"><md-icon>refresh</md-icon></button>
<ngx-datatable
  #datatable
  class='material expandable'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="50"
  [rows]='executions$ | async'>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="150" #myDetailRow>
    <ng-template let-row="row" ngx-datatable-row-detail-template>
      <div style="padding: 0 0 20px 35px;">
        <div><strong>Detail</strong></div>
        <div>Script: {{row.script?.name}}</div>
        <div>Start: {{row.start_date | date:'dd/MM/yyyy HH:mm:ss'}}</div>
        <div *ngIf="row.end_date">End: {{row.end_date | date:'dd/MM/yyyy HH:mm:ss'}}</div>
        <div>Execution params: <pre>{{row.params | json}}</pre></div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <!-- Column Templates -->
    <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a
        href="#"
        [class.icon-right]="!row.$$expanded"
        [class.icon-down]="row.$$expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow($event, row)">
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Id">
  </ngx-datatable-column>
  <ngx-datatable-column name="Start" prop="start_date" [comparator]="dateComparator">
    <ng-template let-row="row"  ngx-datatable-cell-template>
      {{row.start_date | date: 'dd/MM/yy HH:mm:ss'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="End" prop="end_date" [comparator]="dateComparator">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.end_date | date: 'dd/MM/yy HH:mm:ss'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Progress"
    [width]="150"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <md-progress-bar
          class="progress-execution"
          [color]="primary"
          [mode]="'determinate'"
          [value]="row.progress">
      </md-progress-bar>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status">
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="120"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <md-icon class="icon-button" (click)="viewLogs(row)" mdTooltip="View logs">subject</md-icon>
      <md-icon class="icon-button" (click)="viewResults(row)" mdTooltip="View results">file_download</md-icon>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
