<div class="recover-pass">
  <md-card>
    <md-card-content style="width: 250px">
      <div class="avatar">
        <!--<span>GEF</span>-->
      </div>
      <form #form="ngForm" (ngSubmit)="form.valid && recoverPass(form.value)">
        <md-input-container>
            <input mdInput placeholder="Email" required type="email" name="email" ngModel #email="ngModel" email>
            <md-error *ngIf="email.errors?.required">Email is required</md-error>
            <md-error *ngIf="email.errors?.email && !email.errors?.required">Should be a valid email</md-error>
        </md-input-container>
        <div class="submit-button">
            <button mdInput md-raised-button color="primary" type="submit">
                <span>Recover password</span>
                <!--<md-progress-spinner mode="indeterminate" color="warn" *ngIf="state == State.REQUESTING"></md-progress-spinner>-->
            </button>
        </div>
    </form>
    <md-error class="unauthorized" *ngIf="state == State.ERROR">Invalid user or password</md-error>
    </md-card-content>
  </md-card>
</div>