<div md-dialog-content #content>

    <div class="create-user">

        <form #form="ngForm" (ngSubmit)="form.valid && createUser(form.value)">
            <md-input-container>
                <input mdInput placeholder="Email" required type="email" name="email" ngModel #email="ngModel" email>
                <md-error *ngIf="email.errors?.required">Email is required</md-error>
                <md-error *ngIf="email.errors?.email && !email.errors?.required">Should be a valid email</md-error>
            </md-input-container>
            <md-select placeholder="Role" [(ngModel)]="role" name="role">
                <md-option *ngFor="let role of roles" [value]="role">{{ role }}</md-option>
            </md-select>
            <div class="submit-button">
                <button mdInput md-raised-button color="primary" type="submit">
                    <span>SEND</span>
                    <!--<md-progress-spinner mode="indeterminate" color="warn" *ngIf="state == State.REQUESTING"></md-progress-spinner>-->
                </button>
            </div>
        </form>
        <md-error class="unauthorized" *ngIf="state == State.ERROR">Error creating user</md-error>
        <md-error class="unauthorized" *ngIf="state == State.SUCCESS">User created successfully</md-error>

    </div>

</div>
