.create-user {
  form {
    md-input-container, md-select {
      margin: 20px 0 0 0;
    }
    .submit-button{
        margin: 20px 0 0 0;
        button {
            margin: 0 auto;
            display: block;
        }
    }
    .unauthorized{
        margin: 20px 0 0 0;
    }
  }
}