<button class="fixed-button level-2" md-mini-fab (click)="update()"><md-icon>refresh</md-icon></button>
<button class="fixed-button" md-fab (click)="createScript()"><md-icon>add</md-icon></button>
<ngx-datatable
  #datatable
  class='material expandable'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="50"
  [rows]='scripts$ | async'>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
    <ng-template let-row="row" ngx-datatable-row-detail-template>
      <div style="padding-left:35px;">
        <div><strong>Detail</strong></div>
            <div>Slug: {{row.slug}}</div>
            <div>Created at: {{row.created_at | date:'dd/MM/yyyy HH:mm'}}</div>
            <div>Owner: {{row.user?.email}}</div>

      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <!-- Column Templates -->
    <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a
        href="#"
        [class.icon-right]="!row.$$expanded"
        [class.icon-down]="row.$$expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow($event, row)">
      </a>
    </ng-template>
  </ngx-datatable-column>
  <!-- Column Templates -->
    <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <md-icon class="icon-button" (click)="changeVisibility(row)" *ngIf="row.public" mdTooltip="Public script">public</md-icon>
      <md-icon class="icon-button" (click)="changeVisibility(row)" *ngIf="!row.public" mdTooltip="Private script">lock</md-icon>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Owner" [width]="250">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.user.email}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name">
  </ngx-datatable-column>
  <ngx-datatable-column name="Status">
  </ngx-datatable-column>
  <ngx-datatable-column name="Created date"  prop="created_at" [comparator]="dateComparator">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.created_at | date: 'dd/MM/yy HH:mm:ss'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="170"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <md-icon class="icon-button" (click)="editScript(row)" mdTooltip="Edit script">edit</md-icon>
      <md-icon class="icon-button" (click)="viewLogs(row)" mdTooltip="View build logs">subject</md-icon>
      <md-icon class="icon-button" (click)="downloadScript(row)" mdTooltip="Download script">file_download</md-icon>
      <md-icon class="icon-button" (click)="execScript(row)" mdTooltip="Execute script">play_arrow</md-icon>
      <md-icon class="icon-button" (click)="deleteScript(row)" mdTooltip="Delete script">delete</md-icon>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
