<gef-header></gef-header>

<div class="menu">
    <md-sidenav-container>
        
        <md-sidenav mode="side" opened="true">   
            <md-list>
                <md-list-item><a md-button [routerLink]="['/private', 'user']">Users</a></md-list-item>
                <md-list-item><a md-button [routerLink]="['/private', 'script']">Scripts</a></md-list-item>
                <md-list-item><a md-button [routerLink]="['/private', 'execution']">Executions</a></md-list-item>
            </md-list>
        </md-sidenav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </md-sidenav-container>
</div>



