<gef-header></gef-header>

<div class="menu">
    <md-sidenav-container>
        
        <md-sidenav mode="side" opened="true">   
            <ul>
                <li><a md-button [routerLink]="['/private', 'script']"><md-icon class="icon">code</md-icon>Scripts</a></li>
                <li><a md-button [routerLink]="['/private', 'execution']"><md-icon class="icon">play_arrow</md-icon>Executions</a></li>
                <li><a md-button [routerLink]="['/private', 'user']"><md-icon class="icon">account_circle</md-icon>Users</a></li>
            </ul>
        </md-sidenav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </md-sidenav-container>
</div>



