<div class="user">
  <md-card>
    <md-card-content style="width: 250px">
      <div class="avatar">
        <!--<span>GEF</span>-->
      </div>
      <form #form="ngForm" (ngSubmit)="form.valid && createUser(form.value)">
        <md-input-container>
            <input mdInput placeholder="Email" required type="email" name="email" ngModel #email="ngModel" email>
            <md-error *ngIf="email.errors?.required">Email is required</md-error>
            <md-error *ngIf="email.errors?.email && !email.errors?.required">Should be a valid email</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Password" required type="password" name="password" ngModel #password="ngModel">
            <md-error *ngIf="password.errors?.required">Password is required</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Repeat Password" required type="password" name="certainPassword" ngModel #certainPassword="ngModel" [equalTo]="password">
            <md-error *ngIf="certainPassword.errors?.equalTo">Passwords are not equal</md-error>
        </md-input-container>
        <md-select placeholder="Role" [(ngModel)]="role" name="role">
            <md-option *ngFor="let role of roles" [value]="role">{{ role }}</md-option>
        </md-select>
        <div class="submit-button">
            <button mdInput md-raised-button color="primary" type="submit">
                <span>SEND</span>
                <!--<md-progress-spinner mode="indeterminate" color="warn" *ngIf="state == State.REQUESTING"></md-progress-spinner>-->
            </button>
        </div>
    </form>
    <md-error class="unauthorized" *ngIf="state == State.ERROR">Error creating user</md-error>
    <md-error class="unauthorized" *ngIf="state == State.SUCCESS">User created successfully</md-error>
    </md-card-content>
  </md-card>
</div>