<div md-dialog-content #content>

    <div class="update-user">

        <form #form="ngForm" (ngSubmit)="form.valid && createUser(form.value)">
            <md-select placeholder="Role" [(ngModel)]="role" name="role">
                <md-option *ngFor="let role of roles" [value]="role">{{ role }}</md-option>
            </md-select>
            <div class="submit-button">
                <button mdInput md-raised-button color="primary" type="submit">
                    <span>SEND</span>
                    <!--<md-progress-spinner mode="indeterminate" color="warn" *ngIf="state == State.REQUESTING"></md-progress-spinner>-->
                </button>
            </div>
        </form>
        <md-error class="unauthorized" *ngIf="state == State.ERROR">Error updating user</md-error>
        <md-error class="unauthorized" *ngIf="state == State.SUCCESS">User updated successfully</md-error>

    </div>

</div>
