<div md-dialog-content #content>
  <h4>Update user</h4>

    <form #form="ngForm" (ngSubmit)="form.valid && createUser(form.value)">
      <md-select placeholder="Role" [(ngModel)]="role" name="role">
        <md-option *ngFor="let role of roles" [value]="role">{{ role }}</md-option>
      </md-select>

    </form>
    <md-error class="unauthorized" *ngIf="state == State.ERROR">Error updating user</md-error>
    <md-error class="unauthorized" *ngIf="state == State.SUCCESS">User updated successfully</md-error>



</div>
<div md-dialog-actions class="buttons">
  <button md-button (click)="form.valid && createUser(form.value)">Save</button>
  <button md-button md-dialog-close>Close</button>
</div>
