<button class="fixed-button" mdTooltip="Create User" [mdTooltipPosition]="'left'" md-fab (click)="createUser()"><md-icon>add</md-icon></button>
<ngx-datatable
  #datatable
  class='material expandable'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="50"
  [rows]='users$ | async'>
  <!-- Column Templates -->
  <ngx-datatable-column name="Id">
  </ngx-datatable-column>
  <ngx-datatable-column name="Email">
  </ngx-datatable-column>
  <ngx-datatable-column name="Role">
  </ngx-datatable-column>
  <ngx-datatable-column name="Updated">
  </ngx-datatable-column>
  <ngx-datatable-column name="Updated date"  prop="updated_at" [comparator]="dateComparator">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.updated_at | date: 'dd/MM/yy HH:mm:ss'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="100"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <md-icon mdTooltip="Update User" [mdTooltipPosition]="'left'" class="update-button" (click)="updateUser(row)">edit</md-icon>
      <md-icon class="icon-button" (click)="deleteUser(row)" mdTooltip="Delete user">delete</md-icon>

    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
