<button mdTooltip="Create User" [mdTooltipPosition]="'left'" class="add-button" md-fab (click)="createUser()"><md-icon>add</md-icon></button>
<ngx-datatable
  #datatable
  class='material expandable'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="50"
  [rows]='users$ | async'>
  <!-- Column Templates -->
  <ngx-datatable-column name="Id">
  </ngx-datatable-column>
  <ngx-datatable-column name="Email">
  </ngx-datatable-column>
  <ngx-datatable-column name="Role">
  </ngx-datatable-column>
</ngx-datatable>